body {
    background-color: black;
    backdrop-filter: blur(5px);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: black;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
}

h2 {
    border-bottom: 2px solid #444;
}

.school, .job {
    margin-bottom: 20px;
}

#certificates ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#certificates li {
    margin: 10px;
    text-align: center;
}

.view-certificate {
    color: gold;
    text-decoration: underline;
    cursor: pointer;
}

.view-certificate:hover {
    color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    border: 5px solid gold;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
